/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #19232b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}
